
build/classes/.netbeans_automatic_build
build/built-jar.properties
build/classes/.netbeans_update_resources
*.class
*.xml
build/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/